<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="1.0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Robot Description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find whereAmI)/urdf/my_robot.xacro'" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model my_robot -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/> 

  <arg name="world_file" default="$(find whereAmI)/worlds/Chris_MyWorld.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true"/>
    <arg name="world_name" value="$(arg world_file)"/>  
  </include>

  <!-- Send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
  <!-- Map Server -->
  <arg name="map_file" default="$(find whereAmI)/maps/my_robot_map.yaml"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL Node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">

    <param name="initial_pose_x" value="0"/>
    <param name="initial_pose_y" value="0"/>
    <param name="initial_pose_a" value="-1.5707"/>

    <param name="min_particles" value="500"/>
    <param name="max_particles" value="3000"/>

    <param name="update_min_d" value="0.1"/>
    <param name="update_min_a" value="0.1"/>      

    <param name="transform_tolerance" value="0.5"/>

    <param name="laser_max_beams" value="40"/>
    <param name="laser_z_hit" value="0.7"/>
    <param name="laser_z_rand" value="0.3"/>

    <param name="odom_alpha1" value="0.001"/>
    <param name="odom_alpha2" value="0.001"/>
    <param name="odom_alpha3" value="0.001"/>
    <param name="odom_alpha4" value="0.001"/>
    <param name="odom_alpha5" value="0.001"/>

    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="robot_footprint"/>
    <param name="global_frame_id" value="map"/>

  </node>

  <!-- Move Base -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <rosparam file="$(find whereAmI)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find whereAmI)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find whereAmI)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find whereAmI)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find whereAmI)/config/base_local_planner_params.yaml" command="load"/>    
  </node>

  <!--launch rviz-->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find whereAmI)/rviz/config_file.rviz" />

</launch>




